body {
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0;
	margin: 0;
	background-image: url(
		'img.jpg'
	);
	
	}

h1{
	color:rgb(15, 15, 15);
	font-size: 80px;
	 }
div{
	color:rgb(10, 10, 12);
	font-size:50px;
	right:2px;
	}
label{
	color:rgb(14, 14, 17);
	font-size: 50px;
	tab-size: 50px;
	width:300px;
  display: inline-block;
  
 }
form {
	width: 600px;
  height: 500px;
  margin: 50px auto;

  padding: 5px 9px;
  background: linear-gradient(to right, #bbc3c7, #272829);

 
	  }
	 

	input {
		display: block;
		width: 100%;
		margin-bottom: 25px;
		height: 35px;
		border-radius: 20px;
		border: none;
		background: #f2f2f2;
		padding: 10px;
		font-size: 14px;
		position: relative;
		}
input[type=submit]{
	width: 100%;
	margin-bottom: 25px;
	border: none;
	background: #f2f2f2;
	padding: 30px;
	font-size: 14px;
	text-align: 50px;
	
		}
		 table{
		border: 1px solid rgb(131, 127, 127);
	  }
	  th, td {
		padding: 15px;
		text-align: left;
	  }
	  