body {
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0;
	margin: 0;
	background-image: url('fs.jpg');
    /*background-size: 100% 38%;*/
    background-size: cover;
    background-repeat: no-repeat;
}
body.standard {
    background-image: url('img.jpg');
	background-image: url('fs.jpg');
    background-image: url('img3.jpg');
}

h1 {
	color:rgb(15, 15, 15);
	font-size: 32px;
}

div {
	color:rgb(10, 10, 12);
	font-size:18px;
}

div.Login {
	color:rgb(10, 10, 12);
	font-size:50px;
	right:2px;
}

div.extraWidth {
    margin-left: 10px;
    margin-right: 10px;
}

label {
	color:rgb(14, 14, 17);
	font-size: 22px;
	tab-size: 22px;
	width: auto;
    margin-top: 20px;
    display: inline-block;
}

label.Login {
	color:rgb(122, 122, 134);
	font-size: 50px;
	tab-size: 50px;
	width:300px;
    display: inline-block;
}

select {
    margin-left: 15px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 600px;
    height: 300px;
    margin: 0px;
    padding: 0px 0px;
    background: linear-gradient(to right, #b1b7bb, #424446);
    border-radius: 4px;
}

form.largerDetails {
    height: 430px;
}

form.Evaluation {
    height: 700px;
}

form.Login {
    display: inline-table;
	background:rgba(134, 147, 206, 0.3);
	padding: 4em;
    padding-top: 1em;
	margin: 7rem;
	margin-left: 45em;
    width: 200px;
	height: 130px;
	border-radius: 25px;
	border-right: 1px solid rgba(255,255,255,0.3);
	border-top: 1px solid rgba(255,255,255,0.3);
	backdrop-filter: blur(10px);
	box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
	transition: all 0.2s ease-in-out;
	overflow: hidden;
	position: relative;
}

input {
    width: auto;
    margin-bottom: 0px;
    margin-left: 15px;
    height: auto;
    border-radius: 20px;
    border: 1px solid rgb(94, 90, 90);
    background: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    position: relative;
}

input.tableInput {
    width: 50px;
    margin-left: 0px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.6);
}

input[type = submit] {
	width: 150px;
    margin-top: 40px;
	margin-bottom: 10px;
	border: 1px solid rgb(94, 90, 90);
	background: #f2f2f2;
	padding: 0px;
	font-size: 18px;
    position: relative;
	text-align: 50px;
}

input[type = submit]:active {
    background-color: rgba(230, 230, 230, 0.8)
}

input.Login {
    display: block;
    background: #f2f2f2 transparent;
    font-size: 14px;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    margin-left: 0px;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: rgb(202, 126, 196);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

p {
    font-weight: 500;
    color: rgb(202, 126, 196);
    opacity: 0.7;
    font-size: 3rem;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(15, 66, 206, 0.2);
}

select {
    width: 150px;
	border: none;
	margin-bottom: 10px;
	background: #fff5f5;
	padding: 0px;
	font-size: 18px;
    position: relative;
	text-align: 50px;
    border: 1px solid rgb(131, 127, 127);
    border-radius: 4px;
}

select.tableSelect {
    margin-bottom: 0px;
}

select.date {
    width: 350px;
}

button {
    width: 200px;
	border: none;
	margin-bottom: 10px;
	background: rgba(255, 245, 245, 0.7);
	padding: 0px;
	font-size: 18px;
    position: relative;
	text-align: 50px;
    border: 1px solid rgb(131, 127, 127);
    border-radius: 4px;
}

button.signOut {
    width: auto;
    height: 22px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
}

button.details {
    width: 100px;
	margin-bottom: 0px;
}

button.addDetail {
    width: 150px;
    height: 30px;
	margin-top: 15px;
}

button:active {
    background-color: rgba(230, 230, 230, 0.8)
}

nav {
    background: rgba(255, 255, 255, 0.5);
    width: auto;
    height: 50px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid rgb(131, 127, 127);
}

div.navBar {
    height: 50px;
}

div.navBar button {
    margin-top: 14px;
}

div.navBar button:first-child{
    margin-left: 10px;
}

div.navBar button:last-child{
    margin-right: 10px;
}

table {
    border: 2px solid rgb(99, 96, 96);
    border-collapse: collapse;
    background: linear-gradient(to top right, rgba(255, 60, 60, 0.3), rgba(47, 61, 255, 0.3));
}

th, td {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

th {
    background: rgba(0, 0, 0, 0.1);
}

th:last-child, td:last-child { 
    border-right: none;
}