.App {
    height: 100%;
    width: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0;
	margin: 0;
    background-attachment: fixed;
    /*background-size: 100% 38%;*/
    background-size: 100% 100%;
    /*background-size: cover;*/
    background-repeat: no-repeat;
}

a.link {
    color: #f6f4e6;
    width: auto;
    height: 26px;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
}

a.link :hover {
    color: #d35eeb;
}

/* Hide the link that should open and close the topnav on small screens */
a.icon {
display: none;
}

h1 {
	color:rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
	font-size: 40px;
}

div {
	color:rgb(10, 10, 12);
	font-size:18px;
}

div.navDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

div.Login {
	color:rgb(10, 10, 12);
	font-size:50px;
	right:2px;
}

div.extraWidth {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

div.extraWidthNav {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    transition: all 0.2s ease-in-out;
    white-space: pre-wrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

div.navBar {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: auto;
}

div.navBar button:first-child{
    margin-left: 10px;
}

div.navBar button:last-child{
    margin-right: 10px;
}
div.tableDiv {
    margin-left: auto;
    margin-right: auto;
}

label {
	color:rgb(14, 14, 17);
	font-size: 22px;
	tab-size: 22px;
	width: auto;
    margin-top: 20px;
    display: inline-block;
}

label.Login {
	color:rgb(122, 122, 134);
	font-size: 50px;
	tab-size: 50px;
	width:300px;
    display: inline-block;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 600px;
    height: 300px;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px 0px;
    background: linear-gradient(to bottom left, rgba(255, 60, 60, 0.5), rgba(47, 61, 255, 0.5));
    border-radius: 4px;
}

form.largerDetails {
    height: 430px;
}

form.Evaluation {
    height: 700px;
}

form.Login {
    display: inline-table;
	background:rgba(134, 147, 206, 0.3);
	padding: 4em;
    padding-top: 1em;
    margin-top: 3em;
    margin-left: 45em;
    margin-bottom: 3em;
    width: 200px;
	height: 130px;
	border-radius: 25px;
	border-right: 1px solid rgba(255,255,255,0.3);
	border-top: 1px solid rgba(255,255,255,0.3);
	backdrop-filter: blur(10px);
	box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
	transition: all 0.2s ease-in-out;
	overflow: hidden;
	position: relative;
}

input {
    width: auto;
    margin-bottom: 0px;
    margin-left: 15px;
    height: auto;
    border-radius: 20px;
    border: 1px solid rgb(94, 90, 90);
    background: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    position: relative;
}

input.tableInput {
    width: 50px;
    margin-left: 0px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.6);
}

input[type = submit] {
	width: 150px;
    margin-top: 40px;
	margin-bottom: 10px;
	border: 1px solid rgb(94, 90, 90);
	background: #f2f2f2;
	padding: 0px;
	font-size: 18px;
    position: relative;
	text-align: 50px;
}

input[type = submit]:active {
    background-color: rgba(230, 230, 230, 0.8)
}

input.Login {
    display: block;
    background: #f2f2f2 transparent;
    font-size: 14px;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    margin-left: 0px;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: rgb(202, 126, 196);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    -webkit-text-stroke: 0.3px rgb(0, 0, 0);
}

p {
    font-weight: 500;
    color: rgb(202, 126, 196);
    opacity: 0.7;
    font-size: 3rem;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(15, 66, 206, 0.2);
}

select {
    width: 150px;
	border: none;
	margin-bottom: 10px;
    margin-left: 15px;
	background: #fff5f5;
	padding: 0px;
	font-size: 18px;
    position: relative;
	text-align: 50px;
    border: 1px solid rgb(131, 127, 127);
    border-radius: 4px;
}

select.tableSelect {
    margin-bottom: 0px;
}

select.date {
    width: 350px;
}

button {
    width: 200px;
	border: none;
	margin-bottom: 10px;
	background: rgba(255, 245, 245, 0.7);
	padding: 0px;
	font-size: 18px;
    position: relative;
	text-align: 50px;
    border: 1px solid rgb(131, 127, 127);
    border-radius: 4px;
}

button.signOut {
    width: auto;
    height: 26px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
}

button.details {
    width: 100px;
	margin-bottom: 0px;
}

button.addDetail {
    width: 150px;
    height: 30px;
	margin-top: 15px;
}

button:active {
    background-color: rgba(230, 230, 230, 0.8)
}

nav {
    width: auto;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
}

table {
    border: 2px solid rgb(99, 96, 96);
    border-collapse: collapse;
    background: linear-gradient(to top right, rgba(255, 60, 60, 0.3), rgba(47, 61, 255, 0.3));
    margin-left: 10px;
    margin-right: 10px;
}

th, td {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

th {
    background: rgba(0, 0, 0, 0.1);
}

th:last-child, td:last-child { 
    border-right: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        font-family: 'Source Sans Pro', sans-serif;
        padding: 0;
        margin: 0;
        background-image: url('MobileLogin.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    form.Login {
	    margin-left: 5%;
        margin-right: 5%;
        margin-top: -10%;
        display: flex;
        align-items: center;
        justify-content:center;
        height: auto;
        transform: scale(0.8);
        overflow: hidden;
        flex-direction: column;
        vertical-align: middle;
    }
}

/*@media screen and (max-width: 768px) {
    .navBar a:not(:first-child) {display: none;}
    .navBar a.icon {
        float: right;
        display: block;
    }
}*/

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/*@media screen and (max-width: 768px) {
    .navBar.responsive {position: relative;}
    .navBar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}*/