body {
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0;
	margin: 0;
	background-image: url('img.jpg');
    background-size: cover;
}

h1 {
	color:rgb(15, 15, 15);
	font-size: 32px;
}

div {
	color:rgb(10, 10, 12);
	font-size:18px;
}

label {
	color:rgb(14, 14, 17);
	font-size: 22px;
	tab-size: 22px;
	width: auto;
    margin-top: 20px;
    display: inline-block;
}

select {
    margin-left: 15px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 600px;
    height: 300px;
    margin: 0px;
    padding: 0px 0px;
    background: linear-gradient(to right, #b1b7bb, #424446);
    border-radius: 4px;
}

form.largerDetails {
    height: 430px;
}

form.Evaluation {
    height: 700px;
}
	 
input {
    width: auto;
    margin-bottom: 0px;
    margin-left: 15px;
    height: auto;
    border-radius: 20px;
    border: 1px solid rgb(94, 90, 90);
    background: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    position: relative;
}

input[type=submit] {
	width: 150px;
    margin-top: 40px;
	margin-bottom: 10px;
	border: 1px solid rgb(94, 90, 90);
	background: #f2f2f2;
	padding: 0px;
	font-size: 18px;
    position: relative;
	text-align: 50px;
}

select {
    width: 150px;
	border: none;
	margin-bottom: 10px;
	background: #fff5f5;
	padding: 0px;
	font-size: 18px;
    position: relative;
	text-align: 50px;
    border: 1px solid rgb(131, 127, 127);
    border-radius: 4px;
}

select.date {
    width: 350px;
}

button {
    width: 200px;
	border: none;
	margin-bottom: 10px;
	background: #fff5f5;
	padding: 0px;
	font-size: 18px;
    position: relative;
	text-align: 50px;
    border: 1px solid rgb(131, 127, 127);
    border-radius: 4px;
}

button.signOut {
    width: 140px;
    height: 22px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
}

button.details {
    width: 100px;
	margin-bottom: 0px;
}

button.addDetail {
    width: 150px;
    height: 30px;
	margin-top: 15px;
}

nav {
    background: #ffffff;
    width: auto;
    height: 50px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid rgb(131, 127, 127);
}

div.navBar {
    height: 50px;
}

div.navBar button {
    margin-top: 14px;
}

div.navBar button:first-child{
    margin-left: 10px;
}

div.navBar button:last-child{
    margin-right: 10px;
}

table {
    border: 2px solid rgb(99, 96, 96);
    border-collapse: collapse;
    background: #f2f2f2;
}

th, td {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

th {
    background: #bbb9b9;
}

th:last-child, td:last-child { 
    border-right: none;
}